In [30]:
# Import web-scraped data

import pandas as pd
import re

#df = pd.read_csv('trulia2_latlon2.csv')

df = pd.read_csv('data/trulia_lat_lon1.csv')



print(df['Features'].head(5))

0    Townhouse;$244/sqft;Lot Size: 784 sqft;Built i...
1    2 Beds;2.5 Baths;1%190 sqft;Townhouse;$203/sqf...
2    Townhouse;$306/sqft;Lot Size: 828 sqft;Built i...
3    2 Beds;2.5 Baths;1%190 sqft;Townhouse;$458/sqf...
4    2 Beds;2.5 Baths;1%190 sqft;Townhouse;$141/sqf...
Name: Features, dtype: object

In [31]:
# Used RegEx to parse features

features_list = df['Features']

beds_list = []
baths_list = []
sqft_list = []
#lotsize_list = []
price_per_sqft_list = []
built_in_list = []
heating = []
#rooms_list = []


for ind, features in enumerate(features_list):
    SQFT = False
    beds = '?'
    baths = '?'
    sqft = '?'
    lotsize = '?'
    price_per_sqft = '?'
    built_in = '?'
    rooms = '?'

    for f in features.split(';'):
        if re.match('\d* (Beds)$', f):
            beds=f
        elif re.match('(\d+(.)?\d|\d+) (Baths)$',f):
            baths=f
        elif re.match('^(\d+%\d+|\d+) (sqft)$',f):
            sqft = f
        #elif re.match('^(Lot Size: )(\d+%\d+ sqft|\d+ sqft|\d+ acres|\d+\.\d+ acres)',f):
            #lotsize = f
        elif re.match('(\$\d\d\d\/)(sqft)',f):
            price_per_sqft = f
        elif re.match('(Built in) (\d\d\d\d)',f):
            built_in = f
        #elif re.match('(\d) (Rooms)', f):
            #rooms = f
            

    beds_list.append(beds)
    baths_list.append(baths)
    sqft_list.append(sqft)
    #lotsize_list.append(lotsize)
    price_per_sqft_list.append(price_per_sqft)
    built_in_list.append(built_in)
    #rooms_list.append(rooms)

    
    

df['Beds'] = beds_list
df['Baths'] = baths_list
df['Sqft'] = sqft_list
#df['Lot Size'] = lotsize_list
df['Price_Per_Sqft'] = price_per_sqft_list
df['Year Built'] = built_in_list
#df['Rooms'] = rooms_list

#df.to_csv('Trulia_Lat_Lon_2_Feat.csv')

df.to_csv('data/Trulia_Lat_Lon_Feat.csv')

In [32]:
#data = pd.read_csv('Trulia_Lat_Lon_2_Feat.csv')

data = pd.read_csv('data/Trulia_Lat_Lon_Feat.csv')

In [33]:
data.head()

,Unnamed: 0,Unnamed: 0.1,State,State_Abr,Zip Code,County,City,Street,Lat,Lon,Features,Trulia Est,History Events,Property Events,Beds,Baths,Sqft,Price_Per_Sqft,Year Built
0,0,0,California,CA,95003,Santa Cruz County,Aptos,6107 Abbey Rd,36.987202,-121.93441,Townhouse;$244/sqft;Lot Size: 784 sqft;Built i...,$596%124,09/19/2012:$280%000:Sold;05/31/2012:$290%000:P...,Year:2018;Tax:$4%340;Assessment:;Land:$162%339...,?,?,?,$244/sqft,Built in 1980
1,1,1,California,CA,95003,Santa Cruz County,Aptos,6109 Abbey Rd,36.987129,-121.934517,2 Beds;2.5 Baths;1%190 sqft;Townhouse;$203/sqf...,$592%074,04/23/1999:$242%000:Sold;04/08/1994:$167%000:Sold,Year:2018;Tax:$4%676;Assessment:;Land:$200%060...,2 Beds,2.5 Baths,1%190 sqft,$203/sqft,Built in 1981
2,2,2,California,CA,95003,Santa Cruz County,Aptos,6111 Abbey Rd,36.987209,-121.934608,Townhouse;$306/sqft;Lot Size: 828 sqft;Built i...,$565%000,03/01/2011:$295%000:Sold;01/28/2011:$319%000:P...,Year:2018;Tax:$4%658;Assessment:;Land:$199%096...,?,?,?,$306/sqft,Built in 1981
3,3,3,California,CA,95003,Santa Cruz County,Aptos,6113 Abbey Rd,36.98724,-121.934631,2 Beds;2.5 Baths;1%190 sqft;Townhouse;$458/sqf...,$645%689,11/15/2005:$545%000:Sold;05/18/1999:$239%500:S...,Year:2018;Tax:$7%216;Assessment:;Land:$342%001...,2 Beds,2.5 Baths,1%190 sqft,$458/sqft,Built in 1981
4,4,4,California,CA,95003,Santa Cruz County,Aptos,6115 Abbey Rd,36.98704,-121.93477,2 Beds;2.5 Baths;1%190 sqft;Townhouse;$141/sqf...,$590%998,10/27/1994:$168%000:Sold,Year:2018;Tax:$3%653;Assessment:;Land:$124%005...,2 Beds,2.5 Baths,1%190 sqft,$141/sqft,Built in 1981

In [34]:
# Sort out rows that dont contain any ?'s in Lat, Lon, Beds, Baths, Sqft, Price_Per_Sqft, Year Built

data = data.loc[data['Lat'] != "?"]
data = data.loc[data['Lon'] != "?"]
data = data.loc[data['Beds'] != "?"]
data = data.loc[data['Baths'] != "?"]
data = data.loc[data['Sqft'] != '?']
data = data.loc[data['Price_Per_Sqft'] != "?"]
data = data.loc[data['Year Built'] != "?"]
#data = data.loc[data['Rooms'] != '?']

In [35]:
# Rows & Columns after filtering
data.shape

(1224, 19)

In [36]:
# Discard irrelevant columns 
data.head()

,Unnamed: 0,Unnamed: 0.1,State,State_Abr,Zip Code,County,City,Street,Lat,Lon,Features,Trulia Est,History Events,Property Events,Beds,Baths,Sqft,Price_Per_Sqft,Year Built
1,1,1,California,CA,95003,Santa Cruz County,Aptos,6109 Abbey Rd,36.987129,-121.934517,2 Beds;2.5 Baths;1%190 sqft;Townhouse;$203/sqf...,$592%074,04/23/1999:$242%000:Sold;04/08/1994:$167%000:Sold,Year:2018;Tax:$4%676;Assessment:;Land:$200%060...,2 Beds,2.5 Baths,1%190 sqft,$203/sqft,Built in 1981
3,3,3,California,CA,95003,Santa Cruz County,Aptos,6113 Abbey Rd,36.98724,-121.934631,2 Beds;2.5 Baths;1%190 sqft;Townhouse;$458/sqf...,$645%689,11/15/2005:$545%000:Sold;05/18/1999:$239%500:S...,Year:2018;Tax:$7%216;Assessment:;Land:$342%001...,2 Beds,2.5 Baths,1%190 sqft,$458/sqft,Built in 1981
4,4,4,California,CA,95003,Santa Cruz County,Aptos,6115 Abbey Rd,36.98704,-121.93477,2 Beds;2.5 Baths;1%190 sqft;Townhouse;$141/sqf...,$590%998,10/27/1994:$168%000:Sold,Year:2018;Tax:$3%653;Assessment:;Land:$124%005...,2 Beds,2.5 Baths,1%190 sqft,$141/sqft,Built in 1981
5,5,5,California,CA,95003,Santa Cruz County,Aptos,6116 Abbey Rd,36.98706,-121.93352,3 Beds;2.5 Baths;2%476 sqft;Single Family Home...,$1%137%642,08/08/1994:$355%000:Sold,Year:2018;Tax:$6%825;Assessment:;Land:$214%060...,3 Beds,2.5 Baths,2%476 sqft,$143/sqft,Built in 1989
7,7,7,California,CA,95003,Santa Cruz County,Aptos,6119 Abbey Rd,36.98718,-121.93479,2 Beds;1.5 Baths;1%044 sqft;Townhouse;$358/sqf...,$567%378,03/27/2003:$374%000:Sold,Year:2018;Tax:$6%250;Assessment:;Land:$285%410...,2 Beds,1.5 Baths,1%044 sqft,$358/sqft,Built in 1981

In [37]:
data.columns

data = data.drop(['Unnamed: 0', 'Unnamed: 0.1', 'State', 'State_Abr','County', 'Features','History Events', 'Property Events'], axis = 1)

#data = data.drop(['Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.1.1', 'State', 'State_Abr','County', 'Features','History Events', 'Property Events'], axis = 1)

In [38]:
data.head()

,Zip Code,City,Street,Lat,Lon,Trulia Est,Beds,Baths,Sqft,Price_Per_Sqft,Year Built
1,95003,Aptos,6109 Abbey Rd,36.987129,-121.934517,$592%074,2 Beds,2.5 Baths,1%190 sqft,$203/sqft,Built in 1981
3,95003,Aptos,6113 Abbey Rd,36.98724,-121.934631,$645%689,2 Beds,2.5 Baths,1%190 sqft,$458/sqft,Built in 1981
4,95003,Aptos,6115 Abbey Rd,36.98704,-121.93477,$590%998,2 Beds,2.5 Baths,1%190 sqft,$141/sqft,Built in 1981
5,95003,Aptos,6116 Abbey Rd,36.98706,-121.93352,$1%137%642,3 Beds,2.5 Baths,2%476 sqft,$143/sqft,Built in 1989
7,95003,Aptos,6119 Abbey Rd,36.98718,-121.93479,$567%378,2 Beds,1.5 Baths,1%044 sqft,$358/sqft,Built in 1981

In [39]:
# Adjusting columns for Modeling


data['Trulia Est'] = data["Trulia Est"].str.replace("%", "")
data['Trulia Est'] = data["Trulia Est"].str.replace("$", "")

data['Sqft'] = data['Sqft'].str.replace("%", "")
data['Sqft'] = data['Sqft'].str.replace("sqft", "")

data['Beds'] = data['Beds'].str.replace("Beds", "")
data['Baths'] = data['Baths'].str.replace("Baths", "")

data['Price_Per_Sqft'] = data['Price_Per_Sqft'].str.replace('$', "")
data['Price_Per_Sqft'] = data['Price_Per_Sqft'].str.replace('/sqft', "")

data['Year Built'] = data['Year Built'].str.replace("Built in", "")

In [40]:
data.dtypes

Zip Code           int64
City              object
Street            object
Lat               object
Lon               object
Trulia Est        object
Beds              object
Baths             object
Sqft              object
Price_Per_Sqft    object
Year Built        object
dtype: object

In [41]:
data.isnull().values.any()

False

In [42]:
# Preprocessing Data for buidling prediction model

# Use LabelEncoder() to convert all string labels into numeric

#City              object
#Street            object
#Lat               object
#Lon               object
#Trulia Est        object
#Beds              object
#Baths             object
#Sqft              object
#Price_Per_Sqft    object
#Year Built  object

import numpy as np

data["Lat"] = data["Lat"].astype(np.float64)
data["Lon"] = data["Lon"].astype(np.float64)
data["Trulia Est"] = data["Trulia Est"].astype(np.float64)
data["Beds"] = data["Beds"].astype(np.float64)
data["Baths"] = data["Baths"].astype(np.float64)
data["Sqft"] = data["Sqft"].astype(np.float64)
data["Price_Per_Sqft"] = data["Price_Per_Sqft"].astype(np.float64)
data["Year Built"] = data["Year Built"].astype(np.float64)


from sklearn import preprocessing 

le = preprocessing.LabelEncoder()

data['City'] = le.fit_transform(data['City'])
data['Street'] = le.fit_transform(data['Street'])

In [43]:
data.dtypes

Zip Code            int64
City                int64
Street              int64
Lat               float64
Lon               float64
Trulia Est        float64
Beds              float64
Baths             float64
Sqft              float64
Price_Per_Sqft    float64
Year Built        float64
dtype: object

In [44]:
data.head()

,Zip Code,City,Street,Lat,Lon,Trulia Est,Beds,Baths,Sqft,Price_Per_Sqft,Year Built
1,95003,0,1010,36.987129,-121.934517,592074.0,2.0,2.5,1190.0,203.0,1981.0
3,95003,0,1014,36.987240,-121.934631,645689.0,2.0,2.5,1190.0,458.0,1981.0
4,95003,0,1015,36.987040,-121.934770,590998.0,2.0,2.5,1190.0,141.0,1981.0
5,95003,0,1016,36.987060,-121.933520,1137642.0,3.0,2.5,2476.0,143.0,1989.0
7,95003,0,1017,36.987180,-121.934790,567378.0,2.0,1.5,1044.0,358.0,1981.0

In [45]:
from sklearn.cluster import KMeans
import numpy as np

from sklearn.metrics import accuracy_score

kmeans = KMeans(n_clusters = 6, random_state = 0).fit(data)

kmeans.labels_

data['Cluster'] = kmeans.labels_

In [46]:
kmeans.labels_

array([3, 3, 3, ..., 2, 4, 2], dtype=int32)

In [47]:
data.head()

,Zip Code,City,Street,Lat,Lon,Trulia Est,Beds,Baths,Sqft,Price_Per_Sqft,Year Built,Cluster
1,95003,0,1010,36.987129,-121.934517,592074.0,2.0,2.5,1190.0,203.0,1981.0,3
3,95003,0,1014,36.987240,-121.934631,645689.0,2.0,2.5,1190.0,458.0,1981.0,3
4,95003,0,1015,36.987040,-121.934770,590998.0,2.0,2.5,1190.0,141.0,1981.0,3
5,95003,0,1016,36.987060,-121.933520,1137642.0,3.0,2.5,2476.0,143.0,1989.0,5
7,95003,0,1017,36.987180,-121.934790,567378.0,2.0,1.5,1044.0,358.0,1981.0,3

In [48]:
data.to_csv('data/Trulia_Lat_Lon_Feat_with_cluster.csv')

#data.to_csv('Trulia_Lat_Lon_Feat_2_with_cluster.csv')

In [49]:
df = pd.read_csv('data/trulia_lat_lon1.csv')

#df = pd.read_csv('trulia2_latlon2.csv')

In [50]:
df.head()

,Unnamed: 0,State,State_Abr,Zip Code,County,City,Street,Lat,Lon,Features,Trulia Est,History Events,Property Events
0,0,California,CA,95003,Santa Cruz County,Aptos,6107 Abbey Rd,36.987202,-121.93441,Townhouse;$244/sqft;Lot Size: 784 sqft;Built i...,$596%124,09/19/2012:$280%000:Sold;05/31/2012:$290%000:P...,Year:2018;Tax:$4%340;Assessment:;Land:$162%339...
1,1,California,CA,95003,Santa Cruz County,Aptos,6109 Abbey Rd,36.987129,-121.934517,2 Beds;2.5 Baths;1%190 sqft;Townhouse;$203/sqf...,$592%074,04/23/1999:$242%000:Sold;04/08/1994:$167%000:Sold,Year:2018;Tax:$4%676;Assessment:;Land:$200%060...
2,2,California,CA,95003,Santa Cruz County,Aptos,6111 Abbey Rd,36.987209,-121.934608,Townhouse;$306/sqft;Lot Size: 828 sqft;Built i...,$565%000,03/01/2011:$295%000:Sold;01/28/2011:$319%000:P...,Year:2018;Tax:$4%658;Assessment:;Land:$199%096...
3,3,California,CA,95003,Santa Cruz County,Aptos,6113 Abbey Rd,36.98724,-121.934631,2 Beds;2.5 Baths;1%190 sqft;Townhouse;$458/sqf...,$645%689,11/15/2005:$545%000:Sold;05/18/1999:$239%500:S...,Year:2018;Tax:$7%216;Assessment:;Land:$342%001...
4,4,California,CA,95003,Santa Cruz County,Aptos,6115 Abbey Rd,36.98704,-121.93477,2 Beds;2.5 Baths;1%190 sqft;Townhouse;$141/sqf...,$590%998,10/27/1994:$168%000:Sold,Year:2018;Tax:$3%653;Assessment:;Land:$124%005...

In [51]:
csv  =  pd.read_csv('data/Trulia_Lat_Lon_Feat_with_cluster.csv')

#csv =  pd.read_csv('Trulia_Lat_Lon_Feat_2_with_cluster.csv')

In [52]:
csv.head()

,Unnamed: 0,Zip Code,City,Street,Lat,Lon,Trulia Est,Beds,Baths,Sqft,Price_Per_Sqft,Year Built,Cluster
0,1,95003,0,1010,36.987129,-121.934517,592074.0,2.0,2.5,1190.0,203.0,1981.0,3
1,3,95003,0,1014,36.987240,-121.934631,645689.0,2.0,2.5,1190.0,458.0,1981.0,3
2,4,95003,0,1015,36.987040,-121.934770,590998.0,2.0,2.5,1190.0,141.0,1981.0,3
3,5,95003,0,1016,36.987060,-121.933520,1137642.0,3.0,2.5,2476.0,143.0,1989.0,5
4,7,95003,0,1017,36.987180,-121.934790,567378.0,2.0,1.5,1044.0,358.0,1981.0,3

In [53]:
csv['Street'] = df['Street']

In [54]:
csv.head()

,Unnamed: 0,Zip Code,City,Street,Lat,Lon,Trulia Est,Beds,Baths,Sqft,Price_Per_Sqft,Year Built,Cluster
0,1,95003,0,6107 Abbey Rd,36.987129,-121.934517,592074.0,2.0,2.5,1190.0,203.0,1981.0,3
1,3,95003,0,6109 Abbey Rd,36.987240,-121.934631,645689.0,2.0,2.5,1190.0,458.0,1981.0,3
2,4,95003,0,6111 Abbey Rd,36.987040,-121.934770,590998.0,2.0,2.5,1190.0,141.0,1981.0,3
3,5,95003,0,6113 Abbey Rd,36.987060,-121.933520,1137642.0,3.0,2.5,2476.0,143.0,1989.0,5
4,7,95003,0,6115 Abbey Rd,36.987180,-121.934790,567378.0,2.0,1.5,1044.0,358.0,1981.0,3

In [55]:
csv.to_csv('data/Trulia_Lat_Lon_Feat_with_6_cluster.csv')

#csv.to_csv('Trulia_Lat_Lon_Feat_2_with_10_cluster.csv')